h1{
    color: green;
    background-color: black;
  
 }

 .hello{
    color: red;
 }

 #hi{
    color: blue;
 }

 *
     {
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       text-align: center;
     }